.nav{
    background-color: rgb(4, 4, 4);
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #c1e328;
    border: 2px solid #3498db;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}